/* font-family: 'Muli', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Indie Flower', cursive; */

/* Global Styles */
body {
  font-family: 'Nunito', sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
}

a:focus, a:hover {
  text-decoration: none;
  color: #000000;
}

.text-white {
  color: #ffffff;
}

/* Navbar */
.navbar-brand {
  color: #ffffff;
}

.navbar-brand h1 {
  font-family: 'Muli', sans-serif;
  margin: 0;
  font-size: 24px;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #ffffff;
  background: transparent;
}

/* Hero Section */
.hero-section {
  background-image: url(../img/computer-grey.jpg);
  height: 100vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.hero-section h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.hero-section p {
  font-size: 20px;
}

/* About Section */
.about-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-section h2 {
  border-bottom: 2px solid #000000;
}

.about-section p {
  padding-left: 10px;
}

.selfie {
  margin-top: 20px;
}

.qoute-section {
  margin-top: 20px;
  border-top: 2px solid #000000;
}

.fav-quote p {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}

/* Portfolio Section */
.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}

.portfolio-section h2 {
  border-bottom: 2px solid #ffffff;
}

.portfolio-list {
  margin-bottom: 40px;
}

.link-spacing {
  margin-top: 25px;
  margin-bottom: 25px;
}

.button {
  text-decoration: none;
  width: 60px;
  height: 20px;
  background: #cccccc;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
}

/* Contact Section */
.contact-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-section h2 {
  border-bottom: 2px solid #000000;
}

.contact-form {
  margin-top: 20px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info a {
  text-decoration: none;
}

.fab {
  font-size: 20px;
  padding-right: 10px;
  color: #000000;
}

/* Footer Section */
.footer-section {
  background-color: #000000;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.footer-text {
  font-size: 12px;
  color: #8c8c8c;
  margin: 0;
}


/* Small Screens */
@media only screen and (min-width : 768px) {
}

/* Medium Screens */
@media only screen and (min-width : 992px) {
}

/* Large Screens */
@media only screen and (min-width : 1200px) {
}
